{% extends "outside_base.html" %}
{% block body %}
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">About</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Hello, I'm Swapnil Rajgadkar</h3>
                  <p>I have completed my Electrical Engineering from Government College Of Engineering,karad.</p>
                  <h3>Professional Life</h3>
                  <p>I began my career in the field of Affiliate Marketing, where I gained valuable experience in online marketing strategies and tactics.
                    As I progressed in my role, I became interested in the technical side of the industry and decided to pursue further education in programming.<br>
                    I dedicated myself to learn the fundamentals of programming. Through hard work and determination, I was able to develop my skills in Python and other programming languages.<br>
                    I then used my new skills to pivot into a career as a Python developer, where I have been able to apply my knowledge.<br>
                    I am always looking for ways to learn and grow as a developer, and 
                    I am excited to continue exploring new technologies and techniques as I progress in my career.
                  </p>
                  <h3>Hobbies</h3>
                  <p>
                    Staying fit and healthy is important to me and I enjoy challenging myself at the Gym.<br>
                    I am an avid Music lover and music has the power to lift my mood and inspire me.<br>
                    Also I have always been a fan of cricket, and playing the game is one of my favorite pastimes.
                  </p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/Swapnil.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
  {% endblock %}