{% extends "outside_base.html" %}
{% block body %}
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">PASSWORD CHECKER</h1>
            <div style="text-align: center;">
              <p style="margin: 0 auto; font-weight: bold; font-size: 22px;">Do you think your password is safe ?</p>
            </div>
          </div>
          <p style="font-weight: bold; font-size: 20px;">It will also tell you how many times the same password has been used by other people. </p>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <body>
                  <form action="/submit_password" method="post" class="reveal-content">
                    <div>
                      <input name="name" type="text" id="name" placeholder="Enter Your Name" required>
                    </div>
                    <p style="font-weight: bold;">Which source's password you want to check?<br>
                            <i class="fa fa-google"></i>
                            <input type="radio" name="social_media" value="Email">Gmail<br>
                            <i class="fa fa-facebook"></i>
                            <input type="radio" name="social_media" value="Facebook">Facebook<br>
                            <i class="fa fa-instagram"></i>
                            <input type="radio" name="social_media" value="Instagram">Instagram<br>
                            <i class="fa fa-twitter"></i>
                            <input type="radio" name="social_media" value="Twitter">Twitter<br>
                          </p>
                            <div>
                            <input name="password" type="password" class="form-control" id="Show" placeholder="Enter Password"  minlength="8" maxlength="16" required>
                            <input type="checkbox" name="" onclick="myFunction()"> Show Password <br>
                            <i class="fa fa-check-circle" style="font-weight: bold;"> Length : 8 to 16 characters</i>
                            </div>
                            <script type="text/javascript">
                              function myFunction() {
                                var show = document.getElementById('Show');
                                if (show.type == 'password') {
                                show.type = 'text';
                                }
                                else {
                                  show.type = 'password';
                                }
                              }
                            </script>
                        
                        <button type="submit" class="btn btn-default btn-lg">Submit</button>
                        <button type="reset" class="btn btn-default btn-lg">Reset</button>
                    </form>
                </body>
            </div>

          </div>
        
        </div>
      </div>
    </div>
  </div>

{% endblock %}