{% extends "outside_base.html" %}
{% block body %}
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">TWITTER BOT</h1>
            <div style="text-align: center;">
              <p style="margin: 0 auto; font-weight: bold; font-size: 22px;">It will give latest tweets about your topic.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <body>
                  <form action="/submit_tweet" method="post" class="reveal-content">
                        <input name="topic_of_tweet" type="text" class="form-control" placeholder="Enter Topic You Want To Know" required>
                        <p> &nbsp;</p>
                        <input name="number_of_tweet" type="number" class="form-control" placeholder="How many tweets you want to see about your topic ? (Maximum 25)" required>
                        <p> &nbsp;</p>
                        <button type="submit" class="btn btn-default btn-lg">Submit</button>
                        <button type="reset" class="btn btn-default btn-lg">Reset</button>
                    </form>
                </body>
            </div>

          </div>
        
        </div>
      </div>
    </div>
  </div>

{% endblock %}