{% extends "inside_base.html" %}
{% block body %}
          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./work1.html" title="">001</a></li>
            <li><a href="./work2.html" title="">002</a></li>
            <li><a href="./work3.html" title="">003</a></li>
            <li><a href="./work4.html" title="">004</a></li>
            <li><a href="./work5.html" title="">005</a></li>
            <li><a href="./work6.html" title="" class="active">006</a></li>
            <li><a href="./work7.html" title="">007</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">006 : Programming</h1>
          </div>
          <p>Programming is a skill that comes with numerous benefits. Wherever we look at, whatever we use has something to do with technology.Behind most everything we see on the internet—every word, picture, chart, layout, etc.—there is someone who programmed it to look as such to us.</p>

          <blockquote>
            <p style="margin: 0 auto; font-weight: bold; font-size: 22px;">From very beginning of my engineering,<br>
              I always had OPTIMISTIC PASSION about programming and have dedicated myself to learn and grow in this field.<br>
              From my earliest days as a self-taught programmer, I have been drawn to the challenge of solving problems and building new things.<br>
              My Favourite Programming language is "Python".<br>
              I am constantly looking for new opportunities to learn and grow as a programmer and I'm excited about the future possibilities that this field has to offer to me.</p>
          </blockquote>
        </div>
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/programming2.png" class="img-responsive" alt="">
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/programming3.png" class="img-responsive" alt="">
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <img src="./static/assets/images/programming4.png" class="img-responsive" alt="">
      </div>

    </div>
  </div>
</div>
{% endblock %}