{% extends "inside_base.html" %}
{% block body %}

          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./work1.html" title="" class="active">001</a></li>
            <li><a href="./work2.html" title="">002</a></li>
            <li><a href="./work3.html" title="">003</a></li>
            <li><a href="./work4.html" title="">004</a></li>
            <li><a href="./work5.html" title="">005</a></li>
            <li><a href="./work6.html" title="">006</a></li>
            <li><a href="./work7.html" title="">007</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container" >
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">001 : Open Source Projects</h1>
          </div>
          <p>I have worked on some open source python project.</p>

          <blockquote>
            <p style="margin: 0 auto; font-weight: bold; font-size: 22px;">
                1. I created this website.<img src="./static/assets/images/website_create.jpg" class="img-responsive" alt=""><br>
                <p>&nbsp;</p>
                <p style="margin: 0 auto; font-weight: bold; font-size: 22px;">2. I created a project called "Password Checker" which will tell you if your password is been used by other people or not.</p><img src="./static/assets/images/password_checker.jpg" class="img-responsive" alt=""><br>
                <li><a href="./PasswordChecker.html" title="" target="_blank" rel="noopener noreferrer">Check Your Password Here !</a></li>
                <p>&nbsp;</p>
                <p style="margin: 0 auto; font-weight: bold; font-size: 22px;">3. I created a project called "QR Code Creator" which will allow users to input the information that they want to encode in the QR code such as a URL, text message or contact information.</p><img src="./static/assets/images/qr_code.jpg" class="img-responsive" alt=""><br>
                <li><a href="./qr_code_creator.html" title="" target="_blank" rel="noopener noreferrer">Create Your QR Code Here !</a></li>
                <p> &nbsp;</p>
                <p style="margin: 0 auto; font-weight: bold; font-size: 22px;">4. I created a project called "Twitter Bot" which will give you latest tweets about your topic on Twitter.</p><img src="./static/assets/images/tweet.jpg" class="img-responsive" alt=""><br>
                <li><a href="./twitter_bot.html" title="" target="_blank" rel="noopener noreferrer">Get Latest Tweets on Twitter !</a></li>
                <p> &nbsp;</p>
                <p style="margin: 0 auto; font-weight: bold; font-size: 22px;">worked on many project which I did not included in this website and still working on some projects.</p>
              </p>
          </blockquote>
        </div>
      </div>
{% endblock %}