{% extends "inside_base.html" %}
{% block body %}
          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./work1.html" title="">001</a></li>
            <li><a href="./work2.html" title="">002</a></li>
            <li><a href="./work3.html" title="">003</a></li>
            <li><a href="./work4.html" title="">004</a></li>
            <li><a href="./work5.html" title="">005</a></li>
            <li><a href="./work6.html" title="">006</a></li>
            <li><a href="./work7.html" title="" class="active">007</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">007 : Art Of Living</h1>
          </div>
          <p>The quality of your life is dependent on the state of your mind. Art of Living will give you proper guidance to take care of your mind.</p>

          <blockquote>
            <p style="margin: 0 auto; font-weight: bold; font-size: 22px;">For me, The Art of Living is all about finding balance, purpose, and fulfillment in every aspect of my life.<br>
              I believe that by cultivating mindfulness, compassion, and gratitude we can all live happier and more meaningful lives.<br>
              To this end, I have developed a number of practices and habits that help me to stay grounded and focused in the present moment.<br>
              This includes a meditation practice, which helps me to cultivate a sense of inner peace and clarity, and a regular physical discipline, such as working out in GYM which helps me to stay healthy and energized.<br>
              It improved my thinking ability, interpersonal skill & many more.</p>
          </blockquote>
        </div>
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/meditation2.jpg" class="img-responsive" alt="">
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/meditation3.jpg" class="img-responsive" alt="">
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <img src="./static/assets/images/meditation4.jpg" class="img-responsive" alt="">
      </div>

    </div>
  </div>
</div>
{% endblock %}