{% extends "inside_base.html" %}
{% block body %}
          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./work1.html" title="">001</a></li>
            <li><a href="./work2.html" title="">002</a></li>
            <li><a href="./work3.html" title="">003</a></li>
            <li><a href="./work4.html" title="">004</a></li>
            <li><a href="./work5.html" title="" class="active">005</a></li>
            <li><a href="./work6.html" title="">006</a></li>
            <li><a href="./work7.html" title="">007</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">005 : Trainee at L&T Switchgear Centre</h1>
          </div>
          <p>It was Introduction to Industrial Electrical System, they teach how the switchgear & all other electrial equipment works.</p>

          <blockquote>
            <p style="margin: 0 auto; font-weight: bold; font-size: 22px;">I completed this trainee program with "LARSEN & TOUBRO" in 3rd year of my engineering.<br>
              This company has been a leading manufacturer of switchgear products.<br>
              During my time there in training, I had the opportunity to work and learn from some of the most experienced professionals in the industry.<br>
              Overall, my time as a trainee at LARSEN & TOUBRO was a valuable and rewarding experience.
            </p>
        </div>
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/switchgear2.jpg" class="img-responsive" alt="">
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/switchgear3.jpg" class="img-responsive" alt="">
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <img src="./static/assets/images/switchgear4.jpg" class="img-responsive" alt="">
      </div>

    </div>
  </div>
</div>
{% endblock %}