{% extends "inside_base.html" %}
{% block body %}
          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./work1.html" title="">001</a></li>
            <li><a href="./work2.html" title="">002</a></li>
            <li><a href="./work3.html" title="" class="active">003</a></li>
            <li><a href="./work4.html" title="">004</a></li>
            <li><a href="./work5.html" title="">005</a></li>
            <li><a href="./work6.html" title="">006</a></li>
            <li><a href="./work7.html" title="">007</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">003 : Wireless Charging System for Electric Vehicle</h1>
          </div>
          <p>As the electric car industry continues to grow, so does the need for more efficient ways to charge these vehicles. One method that is being explored is wireless charging, which would allow drivers to simply park their car over a charging pad to replenish their battery.</p>

          <blockquote>
            <p style="margin: 0 auto; font-weight: bold; font-size: 22px;">This project was implemented during final year of my engineering.<br> 
              In this project, we designed and developed a wireless charging system for electric vehicles, improving the convenience and accessibility of charging for users.<br>
              I was proud to be a part of such a innovative and forward-thinking project and I believe that the work we did has the potential to have a significant impact on the future of electric vehicle charging.
            </p>
          </blockquote>
        </div>
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/Wireless Charging1.jpg" class="img-responsive" alt="">
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/Wireless Charging2.jpg" class="img-responsive" alt="">
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <img src="./static/assets/images/Wireless Charging3.jpg" class="img-responsive" alt="">
      </div>

    </div>
  </div>
</div>
{% endblock %}