{% extends "inside_base.html" %}
{% block body %}
          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./work1.html" title="">001</a></li>
            <li><a href="./work2.html" title="" class="active">002</a></li>
            <li><a href="./work3.html" title="">003</a></li>
            <li><a href="./work4.html" title="">004</a></li>
            <li><a href="./work5.html" title="">005</a></li>
            <li><a href="./work6.html" title="">006</a></li>
            <li><a href="./work7.html" title="">007</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container" >
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">002 : AFFILIATE MARKETING</h1>
          </div>
          <p>As many of you already know, Affiliate Marketing is one of the most popular ways to earn money online and especially due to COVID-19 many start their online business because of the increased demand to buy things online.</p>

          <blockquote>
            <p style="margin: 0 auto; font-weight: bold; font-size: 22px;">"I started working in Affiliate Marketing field in 2021 till 2022, during this time I increased the site traffic by 15-20%.<br>
              I successfully recruited & trained 30+ new employees during this period.<br>
              As a result of these efforts, I have seen a significant improvement in my leadership and communication skills.<br>
              I have become more confident in my ability.<br>
              I believe that these skills will be valuable in any role I take on in the future and I am committed to continuing to develop and improve them."</p>
          </blockquote>
        </div>
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/Affiliate Marketing 1.png" class="img-responsive" alt="">
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/Affiliate Marketing 2.jpg" class="img-responsive" alt="">
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <img src="./static/assets/images/Affiliate Marketing 3.png" class="img-responsive" alt="">
      </div>

    </div>
  </div>
</div>
{% endblock %}