{% extends "inside_base.html" %}
{% block body %}
          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./work1.html" title="">001</a></li>
            <li><a href="./work2.html" title="">002</a></li>
            <li><a href="./work3.html" title="">003</a></li>
            <li><a href="./work4.html" title="" class="active">004</a></li>
            <li><a href="./work5.html" title="">005</a></li>
            <li><a href="./work6.html" title="">006</a></li>
            <li><a href="./work7.html" title="">007</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">004 : Digital Car Parking System</h1>
          </div>
          <p>The digital car parking system offers improved user interface. Moreover, with ticketless and cashless parking, the users don't need to carry small parking tickets which are prone to lose.</p>

          <blockquote>
            <p style="margin: 0 auto; font-weight: bold; font-size: 22px;">This project was implemented during 2nd year of my engineering.<br>
              In this project I collaborated with IT team to develop and execute a successful parking system strategy and created "Digital Car Parking System" in which the user can easily browse for vacant parking slots throughout the parking area by just scrolling through his/her fingers in mobile device.
            </p>
          </blockquote>
        </div>
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/digital1.png" class="img-responsive" alt="">
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/digital2.jpg" class="img-responsive" alt="">
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <img src="./static/assets/images/digital3.jpg" class="img-responsive" alt="">
      </div>

    </div>
  </div>
</div>
{% endblock %}